/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

.dog {
  color: var(--darkmagenta)
}
.cat {
  color: var(--green)
}

.parrot {
  color: var(--teal)
}

.donkey {
  color: var(--royalblue)
}

.hedgehog {
  color: var(--magenta)
}

li:last-child {
  color: var(--royalblue)
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}
