:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}
.box {
  padding: 10px;
  color: var(--white);
}

.static {
  background-color: var(--darkviolet);
  grid-column: span 2;
}

.relative {
  background-color: var(--purple);
  grid-row: span 2;
}

.absolute {
  background-color: var(--maroon);
  grid-row: span 2
}

.fixed {
  background-color: var(--darkgolden);
  grid-column: span 2;
  align-self: end;
  grid-row-end: span 1
}
